<!----NavigationBar---->
<section id="nav-bar">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
        <a class="navbar-brand" href="/">
            <img class="chartGo" alt="ChartGo" src="/images/logo03.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <% if (typeof user === "undefined") { %>
            <ul class="nav navbar-nav navbar-right ml-auto">
                <a class="btn btn-primary" href="/signup">Register</a>
                <a class="btn btn-primary" href="/signin">Sign In</a>
            </ul>
            <% } else { %>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link " href="/bar">Bar Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/line">Line Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pie">Pie Chart</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <a class="btn btn-primary" href="/logout">Logout</a>
            </ul>
            <% } %>
        </div>
    </nav>
</section>